@model WebApplication2.Models.ExamsModel
<div class="container w-75">
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create Exam</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm())
                    {
                        <form>
                            <div class="form-row">
                                <div class="form-group col-md-6 ">


                                    @Html.LabelFor(x => x.ExamName)
                                    @Html.TextBoxFor(x => x.ExamName, new { @class = "form-control" })
                                </div>
                                

                                <div class="form-group col-md-6 ">
                                    @Html.LabelFor(x => x.ExamDate)
                                    <input type="text" name="ExamDate" placeholder="DD/MM/YYYY" id="date" class="form-control" />
                                </div>
                                
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <input type="submit" class="btn btn-primary" value="Submit" />
                                </div>
                            </div>
                        </form>
                    }

                </div>

            </div>
        </div>
    </div>

</div>
